<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div>
        <!img class="img" src="/Users/aryanrajpurohit/Desktop/AI/AdvanceAI_RND/Deployment-flask/static/css/hello-kitty.jpeg"  width="400" height="300">
        <img class="img" src="{{ url_for('video') }}" width="50%"/>
    </div>
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="title">
            <span>Sign Language Detection</span>
            <br>
            <span>SPADE NET</span>
            <br>
            <br>
            {{recog_text}}
        </div>
        <div>
            <form method="post" action="/">
                <input class="btn2" type="submit" value="Detect-Sign" name="action1"/>
                <input class="btn" type="submit" value="Remove-word" name="action2"/>
                <input class="btn3" type="submit" value="Advance-Model" name="action3"/>
            </form>
        </div>
    </section>
</body>
</html>

